@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Staatliches&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e2e8f0;
}

main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

h1 {
  color: #f1f5f9;
  font-family: 'Staatliches', cursive;
  letter-spacing: 5px;
}

.logo-banner {
  margin-top: 250px;
  height: 15vh;
  background: #334155;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.hero {
  background-image: url(./mountain-img.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero img {
  width: 100%;
}

.heading-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 50px;
  padding-left: 40px;
}

h2 {
  width: 80%;
  color: #1e293b;
}

form {
  background-color: #f8fafc;
  width: 100%;
}

.form-header {
  padding: 20px 40px;
}

.form-wrapper {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 20vh;
  padding: 20px 40px;
  column-gap: 4rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.form-control input {
  height: 1.75rem;
  border-radius: 5px;
  border: 1px solid #cbd5e1;
  font-size: 1rem;
  color: #334155;
  letter-spacing: 1px;
}

input:focus {
  outline: 1px solid #334155;
}

.form-control label {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.75rem;
  color: #1e293b;
}

.submit-btn-container {
  display: flex;
  align-items: center;
  padding: 40px 40px;
  margin-top: 20px;
  background-color: #e2e8f0;
}

.create-account {
  padding: 15px 50px;
  border-radius: 5px;
  border: 1px solid #94a3b8;
  background-color: #94a3b8;
  color: #f8fafc;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.create-account:hover {
  background-color: #e2e8f0;
  color: #475569;
  border: 1px solid #334155;
  cursor: pointer;
}

.footer {
  color: #1e293b;
  margin-top: 10px;
  padding: 0 40px;
}

a {
  color: #334155;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #94a3b8;
}
